<main>
  <nav class="admin-panel">
    <h1 class="admin-panel__title">Administration Panel</h1>

    <div class="admin-panel__content">
      <p class="admin-panel__welcome">
        Welcome to the <strong> Admin Panel </strong>
      </p>
      <p class="admin-panel__view-site">View site</p>
      <p class="admin-panel__logout">Logout</p>
    </div>
  </nav>

  <aside class="breadcrumb">
    <p class="breadcrumb__item">Home</p>
    <strong class="breadcrumb__separator"><</strong>
    <p class="breadcrumb__item">Tickets</p>
    <strong class="breadcrumb__separator"><</strong>
    <p class="breadcrumb__item">Ticket Detail</p>
  </aside>
</main>
