<main>
  <h1 class="form-title">Change Ticket</h1>

  <aside class="fields-container">
    <div class="fields-container__field">
      <div class="fields-container__field__inner">
        <label>Name:</label>
        <input type="text" />
      </div>
    </div>

    <div class="fields-container__field">
      <div class="fields-container__field__inner">
        <label>Name:</label>
        <input type="text" />
      </div>
    </div>

    <div class="fields-container__field">
      <div class="fields-container__field__inner">
        <label>Name:</label>
        <input type="text" />
      </div>
    </div>

    <div class="fields-container__field">
      <div class="fields-container__field__inner">
        <label>Name:</label>
        <input type="text" />
      </div>
    </div>

    <div class="fields-container__field">
      <div class="fields-container__field__inner">
        <label>Name:</label>
        <input type="text" />
      </div>
    </div>
  </aside>

  <aside class="buttons-container">
    <div class="buttons-container__save-container">
      <button>Save</button>
      <button>Save and add another</button>
      <button>Save and continue editing</button>
    </div>

    <div class="buttons-container__delete-container">
      <button>Delete</button>
    </div>
  </aside>
</main>
