<style>
</style>

<main class="main" style="border:2px solid brown">
  <!-- <h1>{{ title }}</h1>

  <button
    style="display: block"
    [disabled]="true"
    [class]="eneabled ? 'eneabled-button' : 'disabled-button'"
  >
    Test
  </button>

  <button style="display: block" (click)="changeCharacter()">
    Change to {{ character === "goku" ? "Vegeta" : "Goku" }}
  </button>
  <section>Current selected character is: --- {{ character }} ---</section>

  <p
    style="color: yellow; font-weight: bold; text-decoration: underline"
    *ngIf="character === 'Goku'"
  >
    The best Dragon ball character
  </p>

  <h1>Rendering list</h1>

  <span style="display: block" *ngFor="let item of people">
    I am Cristian {{ item.name }} and i have {{ item.age || "'No age'" }}</span
  > -->

  <h1> Testing </h1>
</main>

<router-outlet />
