<main>
  <aside class="collection-panel">
    <h5 class="collection-panel__title">Collection Name</h5>
    <div class="collection-panel__item">
      <p class="collection-panel__item-name">Item 1</p>
      <p class="collection-panel__item-action"><strong>+</strong> Add</p>
    </div>

    <div class="collection-panel__item">
      <p class="collection-panel__item-name">Item 1</p>
      <p class="collection-panel__item-action"><strong>+</strong> Add</p>
    </div>
    <!-- <ul>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
    </ul> -->
  </aside>

  <p>collection works!</p>
</main>
